.header-plan {
    margin-bottom: 20px;
    width: 100%;
}

.header-plan>div {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    width: 100%;
}

.header-plan h3 {
    font-size: 18px;
}

.header-plan .btn {
    color: #385f99;
}

.header-plan>.btn:first-child {
    border: 1px solid #385f99;
    color: #385f99;
    background: #fff;
    padding: 5px 10px;
    display: inline-block;
}

.table-subscribers {
    width: 100%;
}

.table-subscribers tr td {
    padding: 7px 20px;
    border-bottom: 1px solid #eee;
}

.table-subscribers thead tr td {
    font-size: 14px;
}