.container-logo {
    height: 25px;
}

.container-logo img {
    object-fit: contain;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
}

nav ul li a {
    display: block;
    padding: 8px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background: #f0f0f0;
}