body {
    display: flex;
    gap: 20px;
    padding: 20px;
}

h3 {
    display: flex;
    gap: 5px;
}

#info-partner {
    /* outline: auto; */
    width: 50%;
}

#info-payments {
    /* outline: auto; */
    width: 50%;
}

.calendar {
    margin-top: 15px;
}

.calendar li {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
}

.calendar li b,
.calendar li span {
    color: #000;
}

.calendar li:last-child {
    padding: 10px;
    background: #eee;
}