#partner-payments {
    min-width: 350px;
    position: sticky;
    top: 110px;
    display: none;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px 10px #00000010;
}

#partner-payments h3 {
    text-transform: capitalize;
    margin-bottom: 30px;
}

.close-payments {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #f0f0f0;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#partner-payments span {
    font-size: 14px;
}

#partner-payments h4 {
    margin: 30px 0 10px;
}

#partner-payments a {
    display: inline-block;
    margin-top: 20px;
}

#partner-payments a i {
    font-size: 14px;
}

#partner-payments a:hover,
#partner-payments a:hover i {
    color: #385F99;
}

.no-payments {
    display: block;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    background: #f0f0f0;
}

#partner-payments>form {
    margin: 5px 0 30px 0;
}

#partner-payments>form div {
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 40px;
    gap: 10px;
}

#partner-payments>form div:last-child button {
    padding: 5px 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #385F99;
    color: #385F99;
    cursor: pointer;
}

#partner-payments>form div:last-child button:hover {
    background: #385F9915;
}

#partner-payments>form input {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px 20px;
    outline: none;
    border: none;
    width: 160px;
}

#partner-payments>form button.btn {
    background: #385F99;
    color: #fff;
}

.payment-notification {
    border-radius: 5px;
    margin: 5px 0 10px;
    padding: 15px 20px;
    border: 1px solid #eee;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

.calendar>div {
    display: flex;
    flex-direction: column;
}

.calendar>div div {
    height: 30px;
    width: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar>div span {
    text-transform: capitalize;
}

.calendar>div div i {
    color: #fff;
}

#months-payment {
    border: none;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    padding: 0 5px;
    position: relative;
    left: -4px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
}