body {
    display: flex;
    gap: 20px;
    padding: 20px;
}

h3 {
    display: flex;
    gap: 10px;
    align-items: center;
}

h3 div {
    display: flex;
    align-items: stretch;
}

h3 div input {
    border: 1px solid #eee;
    padding: 5px 10px;
    width: 65px;
    text-align: center;
    font-size: 14px;
}

h3 div button {
    padding: 5px 10px;
    background: #f0f0f0;
    border: none;
}

h3 div button:first-child {
    border-radius: 5px 0 0 5px;
}

h3 div button:last-child {
    border-radius: 0 5px 5px 0;
}

#info-partner {
    width: 50%;
}

#info-payments {
    width: 50%;
}

.calendar {
    margin-top: 15px;
}

ul li {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    padding: 5px 0;
}

.calendar li {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

ul li b,
ul li span {
    color: #000;
}

.calendar li:last-child {
    padding: 10px;
    background: #eee;
}