.section-payment-sheet {
    display: flex;
    gap: 20px;
}

.type-payment-sheet {
    flex-direction: column;
    display: flex;
    align-items: start;
    gap: 10px;
    margin: 30px 0;
    width: 250px;
}

.btn-menu-generate {
    position: relative;
}

.payment-sheet-options {
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
    width: 180px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 5px 10px #00000020;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
    display: none;
}

.payment-sheet-options button {
    width: 100%;
    text-align: start;
    padding: 10px 20px;
    background: #fff;
    border: none;
    cursor: pointer;
}

.payment-sheet-options button:hover {
    background: #f5f5f5;
}

.payment-sheet-options #btn-collect {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.more-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.more-options span {
    font-weight: 600;
}

.more-options label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.more-options input {
    background: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.more-options input:focus {
    outline-color: #385f99;
}

.more-options .btn {
    background: #385f99;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

#container-previews {
    width: 100%;
    height: calc(100vh - 110px);
    background: #f0f0f0;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #aaa;
}

#container-previews p span {
    font-size: 22px;
    font-weight: 600;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#container-pdf {
    width: 100%;
    height: calc(100vh - 20px);
}