.container-plans {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.plan {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    flex: none;
}

.plan>div:last-child canvas {
    visibility: hidden;
}

.plan>div:last-child img {
    height: 112px;
    width: 112px;
}

.plan h3 {
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 330px;
    white-space: nowrap;
}

.plan button {
    color: #385F99;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plan a {
    margin-top: 20px;
    color: #385F99;
    background: #f0f0f0;
    display: inline-block;
    font-size: 13.33px;
}

.btn-copy {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-copy svg {
    position: relative;
    top: -2px;
}

.containter-QR {
    width: 174px;
    height: 174px;
}

.toastify.on.toastify-left.toastify-bottom .toast-close {
    padding: 0 20px 0 5px;
}